body{
	margin: 0;
	background-color:#f2fcff;
}
.love{
	display:none;
	/* because I don't deserve you. */
}
div img{
	object-fit: cover;
	max-width: 100%;
	min-width: 100%;
	vertical-align: top;
	border-radius: 3px;
}
.main{
	display: flex;
	flex-wrap: wrap;
}
.main::after{
	content: '';
	flex-grow: 999999999;
}
hr{
	text-align: center;
	width: 60%;
}
.top{
	height: 70vh;
	background-image: url(https://ae01.alicdn.com/kf/Hab01c817181542839d365bab388624c8D.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.topText{
	text-align: center;
	margin-top: 0;
	color: white;
	font-size: 22px;
}
div{
	flex-grow: 1;
	background-color: aliceblue;
	margin: 3px;
}
div:nth-last-child(4) ~ div {
	flex-grow: 0
}
.text{
	text-align: center;
	padding: 20px 2vw 5vh;
}
.textspan{
	transition: background-color 200ms;
	padding: 20px 10vw;
	width: 70vw;
}
.textspan:hover{
		background-color:#dff0f5;
		border-radius: 10px;
}
@media only screen and (min-width:1000px) {
	div img, div{
		height: 45vh;
	}
	.main{
		margin-top: 50px;
	}
	.topText{
		padding-top: 35vh;
	}
}
@media (max-width:1000px) and (min-width:700px){
	div img, div{
		height: 35vh;
	}
	.main{
		margin-top: 20px;
	}
	.topText{
		padding-top: 35vh;
	}
}
@media (min-width:400px) and (max-width:700px){
	div, div img{
		height: 30vh;
	}
}
@media (max-width:700px){
	.top{
		background-image: none;
		background-color: #035dbe;
		height: 20vh;
	}
	.topText{
		color: white;
		margin-top: 0px;
		padding-top: 7vw;
	}
}
summary{
	outline: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; margin-left: -5%}
  100%  {opacity: 1; margin-left: 0px}
}
footer{
	font-size: 13px;
	padding: 10px;
	font-family:"Times New Roman";
	text-align: center;
	color: darkgray;
}
